# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Flask instance folder
instance/



# Environment variables
*.env

# Encryption keys

# Logs
*.log

# Editor and IDE settings
.vscode/
.idea/
*.sublime-*
*.sw?

# OS files
.DS_Store
